#mainheading{
    margin: 5px;
    text-align: center;
    color: rgb(0, 236, 253);
    font-size: 42px;
    font-family: cursive;
}
#mainheading:hover{
    margin: 5px;
    text-align: center;
    color: rgb(1, 233, 233);
    font-size: 46px;
    font-family: cursive;
}
#subtitle{
    margin: 3px;
    text-align: center;
    color: rgb(0, 238, 226);
    font-size: 18px;
    font-weight: 700;
    font-family: cursive;
}
#subtitle:hover{
    margin: 3px;
    text-align: center;
    color: rgb(0, 255, 213);
    font-size: 21px;
    font-family: cursive;
}
.navheading{
    background-color: transparent;
    margin:10px;
    opacity: 0.5px;
    padding:7px;
    border-radius: 10px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #77a4f7;
    margin: 0;
    padding: 0;
    background-image: url(./images/pngtree-mobile-app-development-animation-3d-picture-image_2730558.jpg);
  }
  .task-container {
    box-sizing: border-box;
    /* box-shadow: 0 0 15px rgba(63, 4, 102, 0.986); */
    background-color: transparent;
    border-radius: 8px;
    padding: 20px;
    width: 550px;
    text-align: center;
    margin: 20px auto; /* Centering the container */
    display: flexbox;
    
  }
  #task-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-bottom: 3px solid #66a500;
    outline: none;
    transition: border-bottom-color 0.3s;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  #task-input:focus {
    border-bottom-color: #1c06e0
  }

  .add-button {
    background-color: #007e04;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }

  .add-button:hover {
    background-color: #58cc5e;
  }
  .task-container2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: #fdc8a4; */
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 08px rgba(1, 0, 77, 0.925);
    padding: 10px;
    width: 275px;
    gap: 60px;
    height: fit-content;
    text-align: center;
    color: rgb(253, 255, 255);
    margin: 15px;
    margin-left: 65px; /* Centering the container */
    display:inline-block;
    justify-content: space-evenly;
  }
  .delete-button {
    background-color: #0f0092;
    color: #fff;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  .delete-button:hover {
    background-color: #c40000;
  }
  p{
    color: rgb(128, 255, 0);
  }
  #datestyle{
    font-size: 12px;
    font-weight: 500;
  }