#mainheading{
    margin: 5px;
    text-align: center;
    color: rgb(253, 250, 250);
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mainheading:hover{
    margin: 5px;
    text-align: center;
    color: rgb(252, 251, 251);
    font-size: 46px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#subtitle{
    margin: 3px;
    text-align: center;
    color: rgb(247, 243, 250);
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#subtitle:hover{
    margin: 3px;
    text-align: center;
    color: rgb(214, 101, 248);
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navheading{
    background-color: rgb(0, 5, 82);
    margin:10px;
    padding:7px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(120, 0, 233, 0.925);
}


body {
    font-family: Arial, sans-serif;
    background-color: #77a4f7;
    margin: 0;
    padding: 0;
  }
  .task-container {
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    text-align: center;
    margin: 20px auto; /* Centering the container */
  }
  #task-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-bottom: 3px solid #66a500;
    outline: none;
    transition: border-bottom-color 0.3s;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  #task-input:focus {
    border-bottom-color: #db2929
  }

  .add-button {
    background-color: #007e04;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }

  .add-button:hover {
    background-color: #58cc5e;
  }
  .task-container2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fdc8a4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.925);
    padding: 10px;
    width: 275px;
    height: fit-content;
    text-align: center;
    margin: 15px auto; /* Centering the container */
  }
  .delete-button {
    background-color: #0f0092;
    color: #fff;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  .delete-button:hover {
    background-color: #c40000;
  }